<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Adscripciones</h1>
    <div class="space-x-1">
      <button
        (click)="this.showAddModal.set(true)"
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
      >
        Agregar
      </button>

      <!-- <label
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
      >
        Cargar CSV
        <input
          type="file"
          accept=".csv"
          class="hidden"
        />
      </label> -->
    </div>
  </div>

  <div class="flex justify-start items-center mb-6 space-x-1">
    <app-search-bar
      #searchByName
      placeholder="Buscar por nombre..."
      (onSearch)="filterAdscripcionByName($event)"
    />
    <app-search-bar
      #searchBySiglas
      placeholder="Buscar por pais..."
      (onSearch)="filterAdscripcionBySiglas($event)"
    />

    <select
      #selectEstado
      (change)="handleSelectEstadoChange($event)"
      class="w-64 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="" selected>Seleccionar estado</option>
      <option value="activo">Activo</option>
      <option value="inactivo">Inactivo</option>
    </select>

    <button
      (click)="clearAllFilters(searchByName, searchBySiglas, selectEstado)"
      class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold rounded transition"
    >
      Limpiar Filtros
    </button>
    <button
      (click)="searchWithFilters()"
      class="px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold rounded transition"
    >
      Buscar
    </button>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <tr>
          <th class="py-3 px-4 text-center">Estado</th>
          <th class="py-3 px-4 text-left">Nombre</th>
          <th class="py-3 px-4 text-left">Siglas</th>
          <th class="py-3 px-4 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-600">
        @for (adscripcion of adscripciones(); track $index) {
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">
            <div class="flex items-center justify-center">
              <span
                class="inline-block w-3 h-3 rounded-full"
                [ngClass]="{
                  'bg-green-500': adscripcion.estado === 'activo',
                  'bg-red-500': adscripcion.estado !== 'activo'
                }"
              ></span>
            </div>
          </td>
          <td class="py-3 px-4">{{ adscripcion.nombre }}</td>
          <td class="py-3 px-4">{{ adscripcion.siglas }}</td>
          <td class="py-3 px-4">
            <div class="flex flex-row space-x-2">
              <button
                (click)="onShowUpdateModal(adscripcion)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-blue-500 hover:bg-blue-700"
              >
                Editar
              </button>

              @if(adscripcion.estado === 'activo') {
              <button
                (click)="onDisableAdscripcion(adscripcion.id)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Desactivar
              </button>
              }@else {
              <button
                (click)="onEnableAdscripcion(adscripcion.id)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-green-500 hover:bg-green-700"
              >
                Activar
              </button>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <app-pagination
      [totalItems]="totalItems()"
      [itemsPerPage]="10"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </div>
</div>

@if (showAddModal()) {
<app-add-area-adscripcion
  (onCancel)="showAddModal.set(false)"
  (onSave)="onSaveEmit()"
/>
} @if(showUpdateModal()) {
<app-update-area-adscripcion
  (onCancel)="showUpdateModal.set(false)"
  (onSave)="onEditEmit()"
  [adscripcion]="adscripcionSelected()!"
/>
}
