<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Materias</h1>
    <button
      routerLink="add"
      class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
    >
      Agregar
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @if (materiasList().length === 0) {
    <p>No hay materias registradas</p>
    } @else {
    <div
      *ngFor="let mat of materiasList()"
      class="bg-white rounded-lg p-6 hover:shadow-lg transition duration-300 border border-gray-300"
    >
      <h2 class="text-xl font-semibold text-blue-700 mb-1">
        {{ mat.clave }} - {{ mat.nombre }}
      </h2>

      <p class="text-sm text-gray-600 mb-2">
        <span class="font-medium">Semestre:</span> {{ mat.semestre }}
      </p>

      <div class="text-sm text-gray-600 space-y-1">
        <p>
          <span class="font-medium">Tipo curso:</span>
          {{ mat.tipo_curso ? "Obligatorio" : "Optativo" }}
        </p>
        <p>
          <span class="font-medium">Créditos:</span>
          {{ mat.creditos_teoria }} de teoría, {{ mat.creditos_practica }} de
          práctica
        </p>
        <p>
          <span class="font-medium">Créditos requeridos:</span>
          {{ mat.creditos_requeridos }}
        </p>
        <p>
          <span class="font-medium">Total horas:</span>
          {{
            mat.horas_ciencias_basicas +
              mat.horas_ciencias_ingenieria +
              mat.horas_ingenieria_aplicada +
              mat.horas_disenio_ingenieril +
              mat.horas_ciencias_sociales +
              mat.horas_ciencias_economicas +
              mat.horas_otros_cursos
          }}
        </p>
      </div>

      <div class="mt-4 flex justify-end gap-2">
        <button
          (click)="toggleExpand(mat.id)"
          class="px-4 py-1.5 text-sm font-semibold bg-blue-600 hover:bg-blue-700 text-white rounded-lg transition"
        >
          {{
            expandedMateriaId() === mat.id ? "Ocultar detalles" : "Ver detalles"
          }}
        </button>
        <button
          [routerLink]="['edit', mat.id]"
          class="px-4 py-1.5 text-sm font-semibold bg-yellow-500 hover:bg-yellow-600 text-white rounded-lg transition"
        >
          Editar
        </button>
        <button
          (click)="onShowDeleteModal(mat)"
          class="px-4 py-1.5 text-sm font-semibold bg-red-500 hover:bg-red-600 text-white rounded-lg transition"
        >
          Eliminar
        </button>
      </div>

      <div
        div
        [class.max-h-0]="expandedMateriaId() !== mat.id"
        [class.max-h-96]="expandedMateriaId() === mat.id"
        [class.opacity-0]="expandedMateriaId() !== mat.id"
        [class.opacity-100]="expandedMateriaId() === mat.id"
        class="overflow-hidden transition-all duration-500 ease-in-out border-t mt-4 pt-4 space-y-2 text-sm text-gray-700"
      >
        <!-- Materias requeridas -->
        <div>
          <span class="font-medium">Materias requeridas:</span>
          <ul
            class="list-disc list-inside ml-2"
            *ngIf="mat.materias_requeridas?.length; else noReqs"
          >
            <li *ngFor="let req of mat.materias_requeridas">
              {{ materia(req)?.nombre }}
            </li>
          </ul>
          <ng-template #noReqs>
            <p class="italic text-gray-500">Ninguna</p>
          </ng-template>
        </div>

        <!-- Número de competencias -->
        <p>
          <span class="font-medium">Competencias:</span>
          {{ mat.competencias.length || 0 }}
        </p>

        <!-- Bibliografía -->
        <div>
          <span class="font-medium">Bibliografía:</span>
          <ul
            class="list-disc list-inside ml-2"
            *ngIf="mat.bibliografia?.length; else noBib"
          >
            <li *ngFor="let bib of mat.bibliografia">
              {{ bibliografia(bib)?.nombre }}
            </li>
          </ul>
          <ng-template #noBib>
            <p class="italic text-gray-500">No registradas</p>
          </ng-template>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="mt-6">
    <app-pagination
      [totalItems]="totalItems()"
      [itemsPerPage]="10"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </div>
</div>

<!-- Modal de eliminación -->
<app-confirmation-modal
  *ngIf="showDeleteModal()"
  title="Eliminar: Materia"
  [message]="
    '¿Esta seguro de querer eliminar la mteria correspondiente a ' +
    materiaSelected()?.nombre +
    '?'
  "
  (onConfirm)="onDelete(materiaSelected()?.id!)"
  (onCancel)="showDeleteModal.set(false)"
/>
