<aside
  class="bg-gradient-to-t from-sky-950 to-sky-900 -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0"
>
  <div class="relative border-b border-white/20">
    <a class="flex items-center gap-4 py-6 px-8">
      <h6
        class="text-2xl font-bold block antialiased tracking-normal font-sans leading-relaxed text-white"
      >
        <span [classList]="[titleColor()]">{{ title() }}</span>
        <span> {{ date() }}</span>
      </h6>
    </a>

    <button
      class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
      type="button"
    >
      <span
        class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="currentColor"
          aria-hidden="true"
          class="h-5 w-5 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </span>
    </button>
  </div>

  <div
    class="m-4 overflow-y-auto max-h-[calc(100vh-140px)] pr-2 custom-scrollbar"
  >
    <ul class="mb-4 flex flex-col gap-1">
      <!-- Rutas comunes -->
      @for(ruta of rutasComunes; track $index) {
      <li>
        <app-sidebar-link
          [routerLinkProp]="ruta.routerLink"
          [routeNameProp]="ruta.routeName"
          [iconProp]="ruta.icon"
        />
      </li>
      }

      @if (userRole() === 'user') {
        @for(ruta of rutasDocentes; track $index) {
      <li>
        <app-sidebar-link
          [routerLinkProp]="ruta.routerLink"
          [routeNameProp]="ruta.routeName"
          [iconProp]="ruta.icon"
        />
      </li>
      }
      }

      <!-- Rutas protegidas -->
      @if(userRole() === 'superuser' || userRole() === 'admin') { @for(ruta of
      rutasProtegidas; track $index) {
      <li>
        <app-sidebar-link
          [routerLinkProp]="ruta.routerLink"
          [routeNameProp]="ruta.routeName"
          [iconProp]="ruta.icon"
        />
      </li>
      } }
    </ul>
    <!-- Cerrar sesión -->
    <ul class="mb-4 flex flex-col gap-1">
      <li>
        <button
          class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center justify-start gap-4 px-4 capitalize text-left"
          (click)="onLogout.emit()"
          type="button"
        >
          <img
            src="/assets/svgs/log-out.svg"
            alt="Cerrar sesión icon"
            class="w-7 h-7 filter invert"
          />
          <p
            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
          >
            Cerrar sesión
          </p>
        </button>
      </li>
    </ul>
  </div>
</aside>
