<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Capitación Docente</h1>
    <button
      (click)="showAddModal.set(true)"
      class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
    >
      Agregar
    </button>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <th class="py-3 px-4 text-left">Tipo</th>
        <th class="py-3 px-4 text-left">Institución</th>
        <th class="py-3 px-4 text-left">Fecha de obtención</th>
        <th class="py-3 px-4 text-left">Horas</th>
        <th class="py-3 px-4 text-left">Acciones</th>
      </thead>
      <tbody class="text-gray-600">
        @for(capacitacionDocente of capacitacionDocenteList(); track $index) {
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">{{ capacitacionDocente.tipo_capacitacion }}</td>
          <td class="py-3 px-4">
            {{ nombreInstitucion(capacitacionDocente.institucion_pais) }}
          </td>
          <td class="py-3 px-4">{{ capacitacionDocente.anio_obtencion }}</td>
          <td class="py-3 px-4">{{ capacitacionDocente.horas }}</td>

          <td class="py-3 px-4">
            <div class="flex flex-row space-x-2">
              <button
                (click)="onShowUpdateModal(capacitacionDocente)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-blue-500 hover:bg-blue-700"
              >
                Editar
              </button>
              <button
                (click)="onShowDeleteModal(capacitacionDocente)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-pagination
      [totalItems]="totalItems()"
      [itemsPerPage]="10"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </div>
</div>

<!-- Agregar formación académica -->
@if (showAddModal()) {
<app-capacitacion-docente-form
  [editing]="false"
  (onCancel)="showAddModal.set(false)"
  (onSave)="onSaveEmit()"
  [instituciones]="institucionesList()"
  title="Agregar capacitación docente"
/>
} @if(showUpdateModal()) {
<app-capacitacion-docente-form
  [editing]="true"
  (onCancel)="showUpdateModal.set(false)"
  (onSave)="onEditEmit()"
  [instituciones]="institucionesList()"
  [capacitacionDocente]="capacitacionDocenteSelected()!"
  title="Editar capacitación docente"
/>
}@if (showDeleteModal()){
<app-confirmation-modal
  title="Eliminar: Capacitación Docente"
  [message]="
    '¿Esta seguro de querer eliminar la capacitación docente correspondinete a ' +
    capacitacionDocenteSelected()?.tipo_capacitacion +
    '?'
  "
  (onConfirm)="onDelete(capacitacionDocenteSelected()?.id!)"
  (onCancel)="showDeleteModal.set(false)"
/>
}
