<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Usuarios</h1>
    <button
      (click)="this.showModal.set(true)"
      class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
    >
      Crear Usuario
    </button>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <tr>
          <th class="py-3 px-4 text-left">Nómina</th>
          <th class="py-3 px-4 text-left">Nombre</th>
          <th class="py-3 px-4 text-left">Apellidos</th>
          <th class="py-3 px-4 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-600">
        @for (user of users(); track $index) {
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">{{ user.username }}</td>
          <td class="py-3 px-4"></td>
          <td class="py-3 px-4"></td>
          <td class="py-3 px-4">
            <div class="flex flex-row space-x-2">
              <button
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-orange-500 hover:bg-orange-700"
              >
                Restablecer contraseña
              </button>
              <button
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (showModal()) {
<app-create-user (onCancel)="showModal.set(false)" (onSave)="onSaveEmit()" />
}
