<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Actualización Disciplinar</h1>
    <button
      (click)="showAddModal.set(true)"
      class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
    >
      Agregar
    </button>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <th class="py-3 px-4 text-left">Tipo</th>
        <th class="py-3 px-4 text-left">Institución</th>
        <th class="py-3 px-4 text-left">Fecha de obtención</th>
        <th class="py-3 px-4 text-left">Horas</th>
        <th class="py-3 px-4 text-left">Acciones</th>
      </thead>
      <tbody class="text-gray-600">
        @for(lista of actualizacionDisciplinarList(); track $index) {
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">{{ lista.tipo_actualizacion }}</td>
          <td class="py-3 px-4">
            {{ getInstitucion(lista.institucion_pais) }}
          </td>
          <td class="py-3 px-4">{{ lista.anio_obtencion }}</td>
          <td class="py-3 px-4">{{ lista.horas }}</td>

          <td class="py-3 px-4">
            <div class="flex flex-row space-x-2">
              <button
                (click)="onShowUpdateModel(lista.id)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-blue-500 hover:bg-blue-700"
              >
                Editar
              </button>
              <button
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (showAddModal()) {
<app-add-actualizacion-disciplinar
  (onCancel)="showAddModal.set(false)"
  (onSave)="onSaveEmit()"
  [listaInstituciones]="institucionesList()"
  title="Agregar actualización disciplinar"
/>
}
