<div
  class="fixed inset-0 bg-opacity-50 flex items-center justify-center backdrop-blur-sm"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <div class="flex justify-between items-center border-b pb-2 mb-4">
      <h2 class="text-xl font-semibold text-gray-800">Cambiar contraseña</h2>
      <button
        class="text-gray-500 hover:text-gray-700 text-xl"
        (click)="onCancel.emit()"
      >
        &times;
      </button>
    </div>

    <form
      [formGroup]="changePasswordForm"
      (keydown.enter)="onSaveData()"
      class="space-y-4"
    >
      <div>
        <label for="newPassword" class="block text-gray-700 font-medium mb-2"
          >Nueva Contraseña</label
        >
        <input
          type="password"
          formControlName="newPassword"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Nueva contraseña"
        />
        @if(changePasswordForm.get('newPassword')?.touched &&
        changePasswordForm.get('newPassword')?.invalid) {
        <p class="text-red-500 text-sm mt-1">Este campo es obligatorio.</p>
        }
      </div>

      <div>
        <label
          for="confirmPassword"
          class="block text-gray-700 font-medium mb-2"
          >Confirmar contraseña</label
        >
        <input
          type="password"
          formControlName="confirmPassword"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Confirmar contraseña"
        />
        @if(changePasswordForm.hasError('passwordMismatch') &&
        changePasswordForm.get('confirmPassword')?.touched) {
        <p class="text-red-500 text-sm mt-1">Las contraseñas no coinciden</p>
        }
      </div>

      <div class="flex justify-end gap-3 mt-4">
        <button
          class="px-4 py-2 text-gray-700 hover:bg-gray-200 rounded-lg"
          (click)="onCancel.emit()"
        >
          Cancelar
        </button>
        <button
          class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white font-bold rounded-lg disabled:bg-gray-500"
          [disabled]="changePasswordForm.invalid"
          (click)="onSaveData()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
