<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Alumnos</h1>
    <button
      (click)="showAddModal.set(true)"
      class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
    >
      Agregar
    </button>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <th class="py-3 px-4 text-left">Estado</th>
        <th class="py-3 px-4 text-left">Matrícula</th>
        <th class="py-3 px-4 text-left">Apellido paterno</th>
        <th class="py-3 px-4 text-left">Apellido materno</th>
        <th class="py-3 px-4 text-left">Nombre(s)</th>
        <th class="py-3 px-4 text-left">Carrera</th>
        <th class="py-3 px-4 text-left">Acciones</th>
      </thead>
      <tbody class="text-gray-600">
        @for(alumno of alumnosList(); track alumno.id){
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">
            <div class="flex items-center justify-center">
              <span
                class="inline-block w-3 h-3 rounded-full bg-green-500"
              ></span>
            </div>
          </td>
          <td class="py-3 px-4">{{ alumno.matricula }}</td>
          <td class="py-3 px-4">{{ alumno.apellido_paterno }}</td>
          <td class="py-3 px-4">{{ alumno.apellido_materno }}</td>
          <td class="py-3 px-4">{{ alumno.nombre }}</td>
          <td class="py-3 px-4">{{ carreraData(alumno.carrera)?.nombre }}</td>
          <td class="py-3 px-4">
            <div class="grid grid-cols-4 sm:grid-col-2 md:grid-cols-3 gap-2">
              <button
                (click)="onShowUpdateModal(alumno)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-blue-500 hover:bg-blue-700"
              >
                Editar
              </button>
              <button
                (click)="onShowDeleteModal(alumno)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Desactivar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-pagination
      [totalItems]="totalItems()"
      [itemsPerPage]="10"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </div>
</div>

@if(showAddModal()) {
<app-alumno-form
  [carreras]="carrerasList()"
  [editing]="false"
  title="Agregar alumno"
  (onCancel)="showAddModal.set(false)"
  (onSave)="onSaveEmit()"
/>
} @if(showUpdateModal()) {
<app-alumno-form
  [carreras]="carrerasList()"
  [editing]="true"
  [alumno]="alumnoSelected()!"
  title="Editar alumno"
  (onCancel)="showUpdateModal.set(false)"
  (onSave)="onEditEmit()"
/>
} @if (showDeleteModal()){
<app-confirmation-modal
  title="Eliminar: Tema"
  [message]="
    '¿Esta seguro de querer eliminar el alumno con matrícula ' +
    alumnoSelected()?.matricula +
    '?'
  "
  (onConfirm)="onDelete(alumnoSelected()?.id!)"
  (onCancel)="showDeleteModal.set(false)"
/>
}
