<div
  class="fixed inset-0 bg-opacity-50 flex items-center justify-center backdrop-blur-sm"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <div class="flex justify-between items-center border-b pb-2">
      <h2 class="text-xl font-semibold text-gray-800">
        {{ title() }}
      </h2>
      <button
        class="text-gray-500 hover:text-gray-700 text-xl"
        (click)="onCancel.emit()"
      >
        &times;
      </button>
    </div>

    <form [formGroup]="form" (keydown.enter)="onSubmit()" class="mt-4">
      <div class="mb-4">
        <label for="matricula" class="block text-gray-700 font-medium mb-2"
          >Matrícula</label
        >
        <input
          type="text"
          formControlName="matricula"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label for="nombre" class="block text-gray-700 font-medium mb-2"
          >Nombre</label
        >
        <input
          type="text"
          formControlName="nombre"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="mb-4">
        <label
          for="apellido_paterno"
          class="block text-gray-700 font-medium mb-2"
          >Apellido paterno</label
        >
        <input
          type="text"
          formControlName="apellido_paterno"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      <div class="mb-4">
        <label
          for="apellido_materno"
          class="block text-gray-700 font-medium mb-2"
          >Apellido materno</label
        >
        <input
          type="text"
          formControlName="apellido_materno"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label for="carrera" class="block text-gray-700 font-medium mb-2"
          >Carrera</label
        >
        <select
          formControlName="carrera"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          <option value="" selected disabled>Selecciona una carrera</option>
          @for(carrera of carreras(); track carrera.id) {
          <option [value]="carrera.id">
            {{ carrera.nombre }}
          </option>
          }
        </select>
      </div>

      <div class="flex justify-end gap-3 mt-4">
        <button
          class="px-4 py-2 text-gray-700 hover:bg-gray-200 rounded-lg"
          (click)="onCancel.emit()"
        >
          Cancelar
        </button>
        <button
          class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white font-bold rounded-lg disabled:bg-gray-500"
          [disabled]="form.invalid"
          (click)="onSubmit()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
