<div class="container mx-auto p-6 max-w">
  <h1 class="text-2xl font-bold text-gray-800 mb-6">Calificar actividades</h1>

  <div
    class="bg-white rounded-xl shadow p-6 border border-gray-200 mb-4"
    *ngFor="let actividad of actividadesList()"
  >
    <h2 class="text-lg font-semibold text-gray-700 mb-4">
      {{ actividad.titulo }}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-6 gap-4 mt-2">
      <div class="block text-gray-600 font-medium mb-1">Matrícula</div>
      <div class="block text-gray-600 font-medium mb-1">Apellido Paterno</div>
      <div class="block text-gray-600 font-medium mb-1">Apellido Materno</div>
      <div class="block text-gray-600 font-medium mb-1">Nombre(s)</div>
      <div class="block text-gray-600 font-medium mb-1">Archivo</div>
      <div class="block text-gray-600 font-medium mb-1">Calificación</div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-6 gap-4 py-2 items-center"
      *ngFor="let alumno of alumnosList()"
    >
      <div>
        <input
          type="text"
          [value]="alumno.matricula"
          [disabled]="true"
          class="custom-input"
        />
      </div>

      <div>
        <input
          type="text"
          [value]="alumno.apellido_paterno"
          [disabled]="true"
          class="custom-input"
        />
      </div>

      <div>
        <input
          type="text"
          [value]="alumno.apellido_materno"
          [disabled]="true"
          class="custom-input"
        />
      </div>

      <div>
        <input
          type="text"
          [value]="alumno.nombre"
          [disabled]="true"
          class="custom-input"
        />
      </div>

      <!-- Archivo -->
      <div class="flex items-center gap-2">
        <label
          [for]="'archivoEvidencia-' + actividad.id + '-' + alumno.id"
          class="w-full cursor-pointer px-3 py-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition text-sm"
        >
          {{ mostrarMensajeBoton(actividad.id, alumno.id) }}
        </label>
        <input
          type="file"
          [id]="'archivoEvidencia-' + actividad.id + '-' + alumno.id"
          (change)="onArchivoChange($event, alumno.id, actividad.id)"
          class="hidden"
        />
      </div>

      <div>
        <input
          type="number"
          [ngModel]="getCalificacion(actividad.id, alumno.id)"
          (ngModelChange)="setCalificacion(+$event, actividad.id, alumno.id)"
          class="custom-input"
        />
      </div>
    </div>

    <div class="mt-4 text-right">
      <button
        class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-lg"
        (click)="enviarActividad(actividad.id)"
      >
        Enviar calificaciones
      </button>
    </div>
  </div>
</div>
