<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Competencias</h1>
    <div class="space-x-1">
      <button
        (click)="this.showAddModal.set(true)"
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
      >
        Agregar
      </button>

      <!-- <label
        class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
      >
        Cargar CSV
        <input
          type="file"
          accept=".csv"
          class="hidden"
        />
      </label> -->
    </div>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <tr>
          <th class="py-3 px-4 text-left capitalize">Objetivo específico</th>
          <th class="py-3 px-4 text-left capitalize">Tema</th>
          <th class="py-3 px-4 text-left">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-600">
        @for (competencia of competencias(); track $index) {
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">
            {{
              objetivoEspecifico(competencia.objetivos_especificos)?.descripcion
            }}
          </td>
          <td class="py-3 px-4">{{ tema(competencia.temas)?.nombre }}</td>
          <td class="py-3 px-4">
            <div class="flex flex-row space-x-2">
              <button
                (click)="onShowUpdateModal(competencia)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-blue-500 hover:bg-blue-700"
              >
                Editar
              </button>

              <button
                (click)="onShowDeleteModal(competencia)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Borrar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <app-pagination
      [totalItems]="totalItems()"
      [itemsPerPage]="10"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </div>
</div>

@if (showAddModal()) {
<app-competencia-form
  [editing]="false"
  (onCancel)="showAddModal.set(false)"
  (onSave)="onSaveEmit()"
  [temasList]="temasList()"
  [objetivosEspecificosList]="objetivosEspecificosList()"
  title="Agregar competencia"
/>
} @if(showUpdateModal()) {
<app-competencia-form
  [editing]="true"
  (onCancel)="showUpdateModal.set(false)"
  (onSave)="onEditEmit()"
  [temasList]="temasList()"
  [objetivosEspecificosList]="objetivosEspecificosList()"
  [competencia]="competenciaSelected()!"
  title="Editar competencia"
/>
} @if (showDeleteModal()){
<app-confirmation-modal
  title="Eliminar: Competencia"
  [message]="'¿Esta seguro de querer eliminar la competencia seleccionada?'"
  (onConfirm)="onDelete(competenciaSelected()?.id!)"
  (onCancel)="showDeleteModal.set(false)"
/>
}
