<div class="container mx-auto p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold text-gray-800">Gestión Académica</h1>
    <button
      (click)="showAddModal.set(true)"
      class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300"
    >
      Agregar
    </button>
  </div>

  <div class="bg-white shadow-lg rounded-lg overflow-hidden">
    <table class="w-full border-collapse">
      <thead class="bg-gray-200 text-gray-700">
        <th class="py-3 px-4 text-left">Puesto</th>
        <th class="py-3 px-4 text-left">Institución</th>
        <th class="py-3 px-4 text-left">Fecha de inicio</th>
        <th class="py-3 px-4 text-left">Fecha de finalización</th>
        <th class="py-3 px-4 text-left">Acciones</th>
      </thead>
      <tbody class="text-gray-600">
        @for(gestionAcademica of gestionAcademicaList(); track $index) {
        <tr class="border-b hover:bg-gray-100 transition">
          <td class="py-3 px-4">{{ gestionAcademica.actividad_puesto }}</td>
          <td class="py-3 px-4">
            {{
              this.institucionService.getInstitucion(
                gestionAcademica.institucion_pais
              )
            }}
          </td>
          <td class="py-3 px-4">{{ gestionAcademica.d_mes_anio }}</td>
          <td class="py-3 px-4">{{ gestionAcademica.a_mes_anio }}</td>

          <td class="py-3 px-4">
            <div class="flex flex-row space-x-2">
              <button
                (click)="onShowUpdateModal(gestionAcademica)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-blue-500 hover:bg-blue-700"
              >
                Editar
              </button>
              <button
                (click)="onShowDeleteModal(gestionAcademica)"
                class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 bg-red-500 hover:bg-red-700"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-pagination
      [totalItems]="totalItems()"
      [itemsPerPage]="10"
      [currentPage]="currentPage()"
      (pageChanged)="onPageChanged($event)"
    />
  </div>
</div>

@if (showAddModal()) {
<app-gestion-academica-form
  [editing]="false"
  (onCancel)="showAddModal.set(false)"
  (onSave)="onSaveEmit()"
  [instituciones]="institucionesList()"
  title="Agregar gestión académica"
/>
} @if (showUpdateModal()) {
<app-gestion-academica-form
  [editing]="true"
  (onCancel)="showUpdateModal.set(false)"
  (onSave)="onEditEmit()"
  [instituciones]="institucionesList()"
  [gestionAcademica]="gestionAcademicaSelected()!"
  title="Agregar gestión académica"
/>
}@if (showDeleteModal()){
<app-confirmation-modal
  title="Eliminar: Gestión Académica"
  [message]="
    '¿Esta seguro de querer eliminar la gestión académica correspondinete a ' +
    gestionAcademicaSelected()?.actividad_puesto +
    '?'
  "
  (onConfirm)="onDelete(gestionAcademicaSelected()?.id!)"
  (onCancel)="showDeleteModal.set(false)"
/>
}
